<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="OFF">  
	<properties>  
        <!-- <property name="LOG_HOME">/logs</property>   -->
    </properties>  
  <appenders>  
    <!-- <Console name="console" target="SYSTEM_OUT">  
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>  
    </Console>  
    <File name="error" fileName="${LOG_HOME}/error.log" append="false">  
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>    
    </File> 
    <File name="info" fileName="${LOG_HOME}/info.log" append="false">   
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>    
    </File>  -->
    <Console name="console" target="SYSTEM_OUT">  
      <PatternLayout pattern="%d [%-5level] [%class{36}] - %msg%xEx%n"/>  
    </Console>
    
    <RollingFile name="RollingFile" fileName="logs/travel.log"    
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">    
      <PatternLayout pattern="%d [%-5level] [%class{36}] %l %M - %msg%xEx%n"/>    
      <SizeBasedTriggeringPolicy size="5 MB" />    
    </RollingFile>   
  </appenders>  
  <loggers>  
    <root level="info">  
    	<appender-ref ref="RollingFile"/>
      	<appender-ref ref="console" />  
    </root>  
    <logger name="com.weiminw" level="debug" additivity="false">
    	<appender-ref ref="console" />  
    	<appender-ref ref="RollingFile"/>
    </logger>
    
  </loggers>  
</configuration>  